<% i = @contri_participant %>

 <table cellspacing="5">

       <tr>
         <td><b>Student Name:<% username = User.find_by_id(i.user_id) %> <%= username.name %></b></td>
       </tr>

       <tr>
            <td><b>Assignment Name:<% assname = Assignment.find_by_id(i.parent_id)%> <%= assname.name %> </b></td>
       </tr>

        <tr>
          <% num_of_reviews_received = ResponseMap.find_all_by_reviewee_id_and_reviewed_object_id(i.id, i.parent_id) %>
             <td>Number of reviews received for this assignment:</td>
             <td><%= num_of_reviews_received.length %></td>
       </tr>

      <tr>
        <% num_of_reviews_given = ResponseMap.find_all_by_reviewer_id_and_reviewed_object_id(i.id, i.parent_id) %>
           <td>Number of reviews given for this assignment:</td>
           <td><%= num_of_reviews_given.length %></td>
     </tr>

      <tr>
        <% num_of_af_given = 0 %>
        <% num_of_reviews_received.each do |k| %>
            <% temp1 = Response.find_by_map_id(k.id) %>
            <% temp = ResponseMap.find_all_by_reviewer_id_and_reviewed_object_id(i.id, temp1.id) %>
            <% num_of_af_given += temp.length %>
        <% end %>
        <td>Number of Author Feedbacks given for this assignment:</td>
        <td><%= num_of_af_given %></td>
     </tr>

      <tr>
        <% num_of_af_received = 0 %>
        <% num_of_reviews_given.each do |k| %>
            <% temp1 = Response.find_by_map_id(k.id) %>
            <% temp = ResponseMap.find_all_by_reviewee_id_and_reviewed_object_id(i.id, temp1.id) %>
            <% num_of_af_received += temp.length %>
        <% end %>
        <td>Number of Author Feedbacks received for this assignment:</td>
        <td><%= num_of_af_received %></td>
     </tr>

 </table>

<br/>

<a href="javascript:window.history.back()">Back</a>


